.body{
	font-family: "Damascus",".Lucida Grande UI";
   
}

h3{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Damascus",".Lucida Grande UI";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
h5{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Damascus",".Lucida Grande UI";
	font-size: 112.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 2.5641%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h6{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Damascus", ".Lucida Grande UI";
	font-size: 87.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: justify;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
	white-space: normal;
}
p{
   font-family: "Damascus", ".Lucida Grande UI";
   font-size: 13px;
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}

.para_normal
{
    font-family: "Damascus", ".Lucida Grande UI";
    font-size: 13px;
   /* line-height: 1.75em;*/
    margin-top: 0.75em !important;
    margin-bottom: 0.05em !important;
    font-weight: normal;
	
    text-rendering: optimizeSpeed; /*word-break:break-all;*/
}

@font-face {
    font-family: 'Helvetica Neue LT Arabic 75 Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/HelveticaNeueLTArabic-Bold.ttf');
}

.link {
	 font-family= "Helvetica Neue LT Arabic 75 Bold", ".Lucida Grande UI"; 
	 font-size: 8.5px;
	 font-weight: bold;
}
.s16{
	color: #0433FF;
	font-family: "Damascus";
	text-align: justify;
	white-space: normal;
}
.s17{
	font-family: "Damascus";
	text-align: justify;
	white-space: normal;
}
.s18{
	font-family: "Damascus";
	font-size: 100.0000%;
	text-align: right;
}
.s19{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Damascus",".Lucida Grande UI";
}











